*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}
body{
    height: 100vh;
    background-image: url("./images/bg");
    position: relative;
    display: flex;
    place-content: center;
}
.position-container{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vw;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}